h2{
    color:rgb(192, 35, 140);
    font-size: 56px;
    text-transform: uppercase;
 }

 p{
     /* color: black; */
     font-size: 56px;
 }

 body {
     background-color: blue;
     color: aliceblue;
     font-family: 'Times New Roman', Times, serif;
     font-size: 67px;
 }

 ul{
     color: brown;
 }

 